<a href="https://colab.research.google.com/github/luccidomingues/Food-and-Recipe-Recommendation-System/blob/main/Recipe_Recommendation_Systems_challenge_last_version.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Practice - Recipe Recommendation System

### Bibliotecas

In [ ]:
# Bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from tqdm import tqdm

import missingno as msno # Advanced missing values handling
%matplotlib inline

In [ ]:
tqdm.pandas() # to show the progressbar in pandas computations

### Montar drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

### Path

In [ ]:
%ls "/content/drive/My Drive/I2A2/Food or Recipe Recommendation System/Dataset/"

RAW_interactions.csv  RAW_recipes.csv

In [ ]:
path_files = "/content/drive/My Drive/I2A2/Food or Recipe Recommendation System/Dataset/"
path_files

'/content/drive/My Drive/I2A2/Food or Recipe Recommendation System/Dataset/'

## Datasets Overview

### Raw interactions

In [ ]:
colunas = ['user_id','recipe_id','rating']
df_interactions = pd.read_csv(path_files + "RAW_interactions.csv", sep=",", usecols=colunas)
# df_interactions.info(memory_usage='deep')

In [ ]:
df_interactions.head()

   user_id  recipe_id  rating
0    38094      40893       4
1  1293707      40893       5
2     8937      44394       4
3   126440      85009       5
4    57222      85009       5

In [ ]:
df_interactions.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1132367 entries, 0 to 1132366
Data columns (total 3 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   user_id    1132367 non-null  int64
 1   recipe_id  1132367 non-null  int64
 2   rating     1132367 non-null  int64
dtypes: int64(3)
memory usage: 25.9 MB

In [ ]:
df_interactions.columns.values

array(['user_id', 'recipe_id', 'rating'], dtype=object)

In [ ]:
df_interactions.tail()

            user_id  recipe_id  rating
1132362      116593      72730       0
1132363      583662     386618       5
1132364      157126      78003       5
1132365       53932      78003       4
1132366  2001868099      78003       5

### Raw recipes

In [ ]:
# colunas = ['user_id','recipe_id','rating']
df_recipes = pd.read_csv(path_files + "RAW_recipes.csv", sep=",")
# df_interactions.info(memory_usage='deep')

In [ ]:
df_recipes.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8

In [ ]:
df_interactions.shape, df_recipes.shape

((1132367, 3), (231637, 12))

In [ ]:
df_food = pd.merge(df_interactions,df_recipes, right_on='id',left_on='recipe_id')

In [ ]:
df_food.head(5)

,user_id,recipe_id,rating,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,38094,40893,4,white bean green chile pepper soup,40893,495,1533,2002-09-21,"['weeknight', 'time-to-make', 'course', 'main-...","[204.8, 5.0, 9.0, 26.0, 24.0, 2.0, 10.0]",4,"['combine beans , onion , chilies , 1 / 2 teas...",easy soup for the crockpot.,"['great northern beans', 'yellow onion', 'dice...",9
1,1293707,40893,5,white bean green chile pepper soup,40893,495,1533,2002-09-21,"['weeknight', 'time-to-make', 'course', 'main-...","[204.8, 5.0, 9.0, 26.0, 24.0, 2.0, 10.0]",4,"['combine beans , onion , chilies , 1 / 2 teas...",easy soup for the crockpot.,"['great northern beans', 'yellow onion', 'dice...",9
2,8937,44394,4,devilicious cookie cake delights,44394,20,56824,2002-10-27,"['30-minutes-or-less', 'time-to-make', 'course...","[132.3, 11.0, 39.0, 5.0, 4.0, 11.0, 5.0]",5,"['blend together cake mix , oil and eggs', 'ad...",NaN,"[""devil's food cake mix"", 'vegetable oil', 'eg...",4
3,126440,85009,5,baked potato toppings,85009,10,64342,2004-02-25,"['15-minutes-or-less', 'time-to-make', 'course...","[2786.2, 342.0, 134.0, 290.0, 161.0, 301.0, 42.0]",3,['pick whichever topping you want to use and c...,these toppings sure makes a nice change from p...,"['mayonnaise', 'salsa', 'cheddar cheese', 'ref...",13
4,57222,85009,5,baked potato toppings,85009,10,64342,2004-02-25,"['15-minutes-or-less', 'time-to-make', 'course...","[2786.2, 342.0, 134.0, 290.0, 161.0, 301.0, 42.0]",3,['pick whichever topping you want to use and c...,these toppings sure makes a nice change from p...,"['mayonnaise', 'salsa', 'cheddar cheese', 'ref...",13

In [ ]:
df_food.drop(["submitted","contributor_id","id"],axis=1,inplace=True)

## EDA

In [ ]:
df_food.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1132367 entries, 0 to 1132366
Data columns (total 12 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   user_id        1132367 non-null  int64
 1   recipe_id      1132367 non-null  int64
 2   rating         1132367 non-null  int64
 3   name           1132366 non-null  object
 4   minutes        1132367 non-null  int64
 5   tags           1132367 non-null  object
 6   nutrition      1132367 non-null  object
 7   n_steps        1132367 non-null  int64
 8   steps          1132367 non-null  object
 9   description    1108857 non-null  object
 10  ingredients    1132367 non-null  object
 11  n_ingredients  1132367 non-null  int64
dtypes: int64(6), object(6)
memory usage: 112.3+ MB

In [ ]:
df_food.describe().T

,count,mean,std,min,25%,50%,75%,max
user_id,1132367.0,1.384291e+08,5.014269e+08,1533.0,135470.0,330937.0,804550.0,2.002373e+09
recipe_id,1132367.0,1.608972e+05,1.303987e+05,38.0,54257.0,120547.0,243852.0,5.377160e+05
rating,1132367.0,4.411016e+00,1.264752e+00,0.0,4.0,5.0,5.0,5.000000e+00
minutes,1132367.0,3.614684e+04,8.796494e+06,0.0,20.0,40.0,70.0,2.147484e+09
n_steps,1132367.0,9.627970e+00,5.819689e+00,0.0,6.0,8.0,12.0,1.450000e+02
n_ingredients,1132367.0,8.952028e+00,3.689908e+00,1.0,6.0,9.0,11.0,4.300000e+01

In [ ]:
df_food.nunique()

user_id          226570
recipe_id        231637
rating                6
name             230185
minutes             888
tags             209115
nutrition        229318
n_steps              94
steps            231074
description      222668
ingredients      230475
n_ingredients        41
dtype: int64

In [ ]:
df_food.user_id.value_counts()

424680     7671
37449      5603
383346     4628
169430     4076
128473     3917
           ...
1443464       1
872340        1
431577        1
1330356       1
116593        1
Name: user_id, Length: 226570, dtype: int64

In [ ]:
df_food.recipe_id.value_counts()

2886      1613
27208     1601
89204     1579
39087     1448
67256     1322
          ...
155682       1
154055       1
252960       1
144013       1
386618       1
Name: recipe_id, Length: 231637, dtype: int64

In [ ]:
df_food.rating.value_counts()

5    816364
4    187360
0     60847
3     40855
2     14123
1     12818
Name: rating, dtype: int64

## Sampling

In [ ]:
df_food.shape

(1132367, 12)

In [ ]:
df_food.isnull().sum()

user_id               0
recipe_id             0
rating                0
name                  1
id                    0
minutes               0
contributor_id        0
submitted             0
tags                  0
nutrition             0
n_steps               0
steps                 0
description       23510
ingredients           0
n_ingredients         0
dtype: int64

In [ ]:
df_food.isna().sum()

user_id               0
recipe_id             0
rating                0
name                  1
id                    0
minutes               0
contributor_id        0
submitted             0
tags                  0
nutrition             0
n_steps               0
steps                 0
description       23510
ingredients           0
n_ingredients         0
dtype: int64

In [ ]:
df_food1 = df_food.sample(frac=.01)

In [ ]:
df_food1.shape

(11324, 12)

## Recommendations using KNearestNeighbors method

In [ ]:
df_pre = pd.DataFrame(df_food1.groupby(['user_id', 'recipe_id'])['rating'].mean())
df_pre.reset_index(inplace=True)

In [ ]:
df_pre.head()

   user_id  recipe_id  rating
0     1533      28484     5.0
1     1535      26249     4.0
2     1535      28075     3.0
3     1535      29844     4.0
4     1535      37318     5.0

In [ ]:
df_pre.isnull().sum()

user_id      0
recipe_id    0
rating       0
dtype: int64

In [ ]:
df_pre.dtypes

user_id        int64
recipe_id      int64
rating       float64
dtype: object

In [ ]:
df_pre.shape

(22647, 3)

In [ ]:
df_pre.isna().sum()

user_id      0
recipe_id    0
rating       0
dtype: int64

In [ ]:
df_KNN = df_pre.pivot(index='recipe_id',columns='user_id',values='rating').fillna(0)

In [ ]:
df_KNN.head()

user_id,1533,1535,1634,1676,1891,2178,2310,2312,2586,2695,...,2002346966,2002347570,2002348301,2002354775,2002355997,2002360118,2002365431,2002365848,2002366687,2002372706
recipe_id,,,,,,,,,,,,,,,,,,,,,
49,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
62,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
187,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
191,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
198,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df_KNN.shape

(17788, 11927)

In [ ]:
from scipy.sparse import csr_matrix

In [ ]:
df_KNN_sparse = csr_matrix(df_KNN.values)

In [ ]:
from sklearn.neighbors import NearestNeighbors

In [ ]:
model_knn = NearestNeighbors(metric='cosine',algorithm='brute')

In [ ]:
model_knn.fit(df_KNN_sparse)

NearestNeighbors(algorithm='brute', metric='cosine')

In [ ]:
query_index = np.random.choice(df_KNN.shape[0])
recipe_sample = df_KNN.index[query_index]

In [ ]:
distances, indices = model_knn.kneighbors(df_KNN.iloc[query_index,:].values.reshape(1,-1),n_neighbors=10)

In [ ]:
for i in range(0,len(distances.flatten())):
    if i==0:
        print("Recommendations for recipe : {0}\n".format(recipe_sample))           
    else:
        print("{0}: {1}, with distance of {2}".format(i,df_KNN.index[indices.flatten()[i]],distances.flatten()[i]))

Recommendations for recipe : 175686

1: 175686, with distance of 0.0
2: 208914, with distance of 0.29289321881345254
3: 246, with distance of 0.3845425451033364
4: 222338, with distance of 1.0
5: 222381, with distance of 1.0
6: 222435, with distance of 1.0
7: 222357, with distance of 1.0
8: 222441, with distance of 1.0
9: 222302, with distance of 1.0

## Similarity model

In [ ]:
import spacy

import spacy.cli

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

/usr/local/lib/python3.8/dist-packages/torch/cuda/__init__.py:497: UserWarning: Can't initialize NVML
  warnings.warn("Can't initialize NVML")

In [ ]:
# We need to download the model before using nlp
spacy.cli.download("en_core_web_lg")

 Download and installation successful
You can now load the package via spacy.load('en_core_web_lg')

In [ ]:
# The NLP model is provided by spacy, here we import the en_core_web_lg model
nlp = spacy.load('en_core_web_lg')

In [ ]:
ingredients = df_food1.ingredients.dropna()

In [ ]:
ingredients

770914     ['butter', 'crisco', 'light brown sugar', 'whi...
381989     ['red lentil', 'potatoes', 'olive oil', 'onion...
875577     ['walnut halves', 'brown sugar', 'cinnamon', '...
55879      ['lea & perrins worcestershire sauce', 'lemon ...
567809     ['shortening', 'sugar', 'egg', 'flour', 'salt'...
                                 ...
1082885    ['pickled grape leaves', 'onions', 'rice', 'fl...
185072     ['red potatoes', 'salt & pepper', 'sour cream'...
1069064    ['goose', 'fresh thyme', 'fresh rosemary', 'sa...
893872     ['eggs', 'milk', 'vidalia onions', 'flour', 'p...
358263     ['all-purpose flour', 'salt', 'pepper', 'egg',...
Name: ingredients, Length: 22647, dtype: object

In [ ]:
# Construct the nlp models for each ingredients feature:
docs = ingredients.progress_apply(nlp)

100%|| 11324/11324 [01:54<00:00, 98.98it/s]

In [ ]:
# Function which performs the tokenization and lemmatization from the documents:

en_stop_words = spacy.lang.en.stop_words.STOP_WORDS
    
def get_lemmas(doc, stop_words=en_stop_words):
    return ' '.join([
        token.lemma_
        for token in doc
        if token.lemma_ not in stop_words
        and token.lemma_.isalpha()
    ])

In [ ]:
# Applying it we get the lemmas from each ingredients:

lemmas = docs.apply(get_lemmas)

In [ ]:
# Create the Tf-idf model, restricting that each token must appears in at least 100 ingredients feature and at most in 90% of the ingredients. 
# This also uses a ngram range from 1 to 10:

tfidf = TfidfVectorizer(min_df=100, max_df=0.9, ngram_range=(1, 10))

In [ ]:
# Transforming data:

vec_data = tfidf.fit_transform(lemmas)

In [ ]:
# Computing the cosine similarity:

cos_sim = cosine_similarity(vec_data)
cos_sim = pd.DataFrame(cos_sim, index=lemmas.index,
                       columns=lemmas.index)

In [ ]:
cos_sim.head()

,770914,381989,875577,55879,567809,728705,409340,479271,568619,798780,...,1094292,533947,450951,399572,901783,1082885,185072,1069064,893872,358263
770914,1.000000,0.019985,0.102452,0.016446,0.492193,0.014004,0.110465,0.014815,0.058686,0.029545,...,0.017078,0.066822,0.028226,0.022199,0.000000,0.017679,0.007470,0.008149,0.124482,0.067488
381989,0.019985,1.000000,0.113167,0.091704,0.014152,0.118563,0.049950,0.080325,0.037131,0.029411,...,0.168826,0.000000,0.074955,0.036713,0.276226,0.053109,0.070033,0.037460,0.111683,0.029865
875577,0.102452,0.113167,1.000000,0.027617,0.034381,0.065545,0.034453,0.023802,0.019500,0.133420,...,0.068656,0.000000,0.111552,0.000000,0.014883,0.034352,0.000000,0.000000,0.092179,0.000000
55879,0.016446,0.091704,0.027617,1.000000,0.006994,0.051411,0.019881,0.050636,0.029046,0.027903,...,0.067576,0.034885,0.024880,0.000000,0.059395,0.146531,0.022778,0.009130,0.048377,0.027542
567809,0.492193,0.014152,0.034381,0.006994,1.000000,0.005955,0.122720,0.018132,0.053588,0.023715,...,0.020902,0.009322,0.034547,0.027171,0.000000,0.013358,0.009143,0.009974,0.078432,0.082603

In [ ]:
valid_idx = cos_sim.sum() > 0

In [ ]:
valid_idx

770914     True
381989     True
875577     True
55879      True
567809     True
           ...
1082885    True
185072     True
1069064    True
893872     True
358263     True
Length: 22647, dtype: bool

In [ ]:
cos_sim = cos_sim.loc[valid_idx, valid_idx]

In [ ]:
cos_sim

,126581,506429,347483,240668,810753,274727,348365,456206,235413,1002631,...,402812,1132042,479657,1008316,1089606,1129597,269454,579672,746909,1011390
126581,1.000000,0.000000,0.097477,0.033961,0.218756,0.000000,0.097597,0.006989,0.022741,0.091144,...,0.135676,0.036247,0.114100,0.000000,0.056477,0.0,0.081025,0.191031,0.250252,0.039198
506429,0.000000,1.000000,0.025346,0.141543,0.010426,0.000000,0.041479,0.000000,0.035184,0.000000,...,0.000000,0.000000,0.008336,0.061714,0.019448,0.0,0.065493,0.000000,0.007248,0.000000
347483,0.097477,0.025346,1.000000,0.000000,0.027397,0.028134,0.015935,0.047854,0.035981,0.050413,...,0.028436,0.057350,0.116266,0.024991,0.079604,0.0,0.068284,0.019807,0.072021,0.036723
240668,0.033961,0.141543,0.000000,1.000000,0.025455,0.000000,0.213558,0.022789,0.083435,0.035447,...,0.000000,0.132987,0.095139,0.000000,0.032178,0.0,0.246506,0.034071,0.021233,0.067327
810753,0.218756,0.010426,0.027397,0.025455,1.000000,0.000000,0.064500,0.020037,0.022797,0.015008,...,0.189566,0.036337,0.146500,0.017033,0.349493,0.0,0.026194,0.066392,0.046627,0.049912
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1129597,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000
269454,0.081025,0.065493,0.068284,0.246506,0.026194,0.087476,0.156990,0.012244,0.013778,0.015546,...,0.014005,0.021961,0.114541,0.094610,0.052394,0.0,1.000000,0.081287,0.065869,0.018086
579672,0.191031,0.000000,0.019807,0.034071,0.066392,0.043132,0.078256,0.000000,0.014837,0.098180,...,0.021313,0.023648,0.074640,0.038313,0.036856,0.0,0.081287,1.000000,0.147982,0.000000
746909,0.250252,0.007248,0.072021,0.021233,0.046627,0.000000,0.065904,0.004370,0.014218,0.014869,...,0.094091,0.022662,0.172986,0.011840,0.106460,0.0,0.065869,0.147982,1.000000,0.006455
1011390,0.039198,0.000000,0.036723,0.067327,0.049912,0.050980,0.023304,0.092129,0.087035,0.078131,...,0.156576,0.113744,0.020764,0.051847,0.049403,0.0,0.018086,0.000000,0.006455,1.000000

In [ ]:
# For the recommendation we do not store all the similarities, we need only the top most similar for each one. 
# First we count how many represents the 0.01% most similar for each one:
sizes = {
    idx: row[(row > np.percentile(row, 99.9))&(row < 1)].size
    for idx, row in cos_sim.iterrows()
}

In [ ]:
# After we take the median value:
size = np.median([*sizes.values()]).astype(int)
size

11

In [ ]:
# Which means that 11 recipes represent the 0.01% most similar to other, at median. So we get the 11 most similar for each one:
similarities = {
    idx: row[~np.isclose(row, 1)].nlargest(size)
    for idx, row in cos_sim.iterrows()
}

In [ ]:
# Splitting the id info and the weight:
ingredients_id = pd.DataFrame({
    key: value.index.values
    for key, value in similarities.items()
}).T

ingredients_weight = pd.DataFrame({
    key: value.values / value.values.sum()
    for key, value in similarities.items()
}).T

In [ ]:
ingredients_id.head()

,0,1,2,3,4,5,6,7,8,9,10
126581,532638,532695,252367,245620,649614,391691,391693,507090,507060,400779,997668
506429,856083,508333,672620,784532,784520,784530,784518,784468,784519,1057491,137031
347483,373969,373976,849833,342900,252781,252728,805167,38201,38192,453162,276196
240668,100833,136968,825610,344645,344631,710551,941555,467715,501943,463898,7241
810753,487967,122824,803747,75918,908756,326122,359323,181652,475291,1120883,106685

In [ ]:
ingredients_weight.head()

,0,1,2,3,4,5,6,7,8,9,10
126581,0.102394,0.102394,0.095194,0.090582,0.090459,0.089503,0.089503,0.086304,0.086304,0.083898,0.083464
506429,0.094851,0.092877,0.090764,0.090521,0.090521,0.090521,0.090521,0.090521,0.090521,0.089719,0.088664
347483,0.099922,0.099922,0.093646,0.091559,0.089063,0.089063,0.088542,0.088323,0.088323,0.085954,0.085682
240668,0.098598,0.096712,0.091538,0.091471,0.091471,0.090432,0.089688,0.088631,0.088506,0.088002,0.084951
810753,0.103537,0.097178,0.094930,0.092147,0.092007,0.088485,0.088336,0.086774,0.086367,0.085187,0.085052

In [ ]:
weights = pd.concat((ingredients_id, ingredients_weight),
                    keys=('RECIPE_ID', 'WEIGHT'),
                    axis=1)

In [ ]:
weights.head()

       RECIPE_ID                                                          \
              0       1       2       3       4       5       6       7
126581    532638  532695  252367  245620  649614  391691  391693  507090
506429    856083  508333  672620  784532  784520  784530  784518  784468
347483    373969  373976  849833  342900  252781  252728  805167   38201
240668    100833  136968  825610  344645  344631  710551  941555  467715
810753    487967  122824  803747   75918  908756  326122  359323  181652

                         ...    WEIGHT                                \
            8        9   ...        1         2         3         4
126581  507060   400779  ...  0.102394  0.095194  0.090582  0.090459
506429  784519  1057491  ...  0.092877  0.090764  0.090521  0.090521
347483   38192   453162  ...  0.099922  0.093646  0.091559  0.089063
240668  501943   463898  ...  0.096712  0.091538  0.091471  0.091471
810753  475291  1120883  ...  0.097178  0.094930  0.092147  0.092007


              5         6         7         8         9         10
126581  0.089503  0.089503  0.086304  0.086304  0.083898  0.083464
506429  0.090521  0.090521  0.090521  0.090521  0.089719  0.088664
347483  0.089063  0.088542  0.088323  0.088323  0.085954  0.085682
240668  0.090432  0.089688  0.088631  0.088506  0.088002  0.084951
810753  0.088485  0.088336  0.086774  0.086367  0.085187  0.085052

[5 rows x 22 columns]

In [ ]:
weights.to_csv(path_files + 'weights.csv')

In [ ]:
# Get the recipes names:
info = pd.read_csv(path_files + "RAW_recipes.csv", index_col='id')

# df_recipes = pd.read_csv(path_files + "RAW_recipes.csv", sep=",")

In [ ]:
weights.index

Int64Index([ 126581,  506429,  347483,  240668,  810753,  274727,  348365,
             456206,  235413, 1002631,
            ...
             402812, 1132042,  479657, 1008316, 1089606, 1129597,  269454,
             579672,  746909, 1011390],
           dtype='int64', length=11318)