# Data Science Practice - Recipe Recommendation System

### Bibliotecas

In [ ]:
# Bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

import missingno as msno # Advanced missing values handling
%matplotlib inline

### Montar drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

### Path

In [ ]:
%ls "/content/drive/My Drive/I2A2/Food or Recipe Recommendation System/Dataset/"

RAW_interactions.csv  RAW_recipes.csv

In [ ]:
path_files = "/content/drive/My Drive/I2A2/Food or Recipe Recommendation System/Dataset/"
path_files

'/content/drive/My Drive/I2A2/Food or Recipe Recommendation System/Dataset/'

## Datasets Overview

### Raw interactions

In [ ]:
colunas = ['user_id','recipe_id','rating']
df_interactions = pd.read_csv(path_files + "RAW_interactions.csv", sep=",", usecols=colunas)
# df_interactions.info(memory_usage='deep')

In [ ]:
df_interactions.head()

   user_id  recipe_id  rating
0    38094      40893       4
1  1293707      40893       5
2     8937      44394       4
3   126440      85009       5
4    57222      85009       5

In [ ]:
df_interactions.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1132367 entries, 0 to 1132366
Data columns (total 3 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   user_id    1132367 non-null  int64
 1   recipe_id  1132367 non-null  int64
 2   rating     1132367 non-null  int64
dtypes: int64(3)
memory usage: 25.9 MB

In [ ]:
df_interactions.columns.values

array(['user_id', 'recipe_id', 'rating'], dtype=object)

In [ ]:
df_interactions.tail()

            user_id  recipe_id  rating
1132362      116593      72730       0
1132363      583662     386618       5
1132364      157126      78003       5
1132365       53932      78003       4
1132366  2001868099      78003       5

### Raw recipes

In [ ]:
# colunas = ['user_id','recipe_id','rating']
df_recipes = pd.read_csv(path_files + "RAW_recipes.csv", sep=",")
# df_interactions.info(memory_usage='deep')

In [ ]:
df_recipes.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8

In [ ]:
df_interactions.shape, df_recipes.shape

((1132367, 3), (231637, 12))

In [ ]:
df_food = pd.merge(df_interactions,df_recipes, right_on='id',left_on='recipe_id')

In [ ]:
df_food.head(15)

,user_id,recipe_id,rating,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,38094,40893,4,white bean green chile pepper soup,40893,495,1533,2002-09-21,"['weeknight', 'time-to-make', 'course', 'main-...","[204.8, 5.0, 9.0, 26.0, 24.0, 2.0, 10.0]",4,"['combine beans , onion , chilies , 1 / 2 teas...",easy soup for the crockpot.,"['great northern beans', 'yellow onion', 'dice...",9
1,1293707,40893,5,white bean green chile pepper soup,40893,495,1533,2002-09-21,"['weeknight', 'time-to-make', 'course', 'main-...","[204.8, 5.0, 9.0, 26.0, 24.0, 2.0, 10.0]",4,"['combine beans , onion , chilies , 1 / 2 teas...",easy soup for the crockpot.,"['great northern beans', 'yellow onion', 'dice...",9
2,8937,44394,4,devilicious cookie cake delights,44394,20,56824,2002-10-27,"['30-minutes-or-less', 'time-to-make', 'course...","[132.3, 11.0, 39.0, 5.0, 4.0, 11.0, 5.0]",5,"['blend together cake mix , oil and eggs', 'ad...",NaN,"[""devil's food cake mix"", 'vegetable oil', 'eg...",4
3,126440,85009,5,baked potato toppings,85009,10,64342,2004-02-25,"['15-minutes-or-less', 'time-to-make', 'course...","[2786.2, 342.0, 134.0, 290.0, 161.0, 301.0, 42.0]",3,['pick whichever topping you want to use and c...,these toppings sure makes a nice change from p...,"['mayonnaise', 'salsa', 'cheddar cheese', 'ref...",13
4,57222,85009,5,baked potato toppings,85009,10,64342,2004-02-25,"['15-minutes-or-less', 'time-to-make', 'course...","[2786.2, 342.0, 134.0, 290.0, 161.0, 301.0, 42.0]",3,['pick whichever topping you want to use and c...,these toppings sure makes a nice change from p...,"['mayonnaise', 'salsa', 'cheddar cheese', 'ref...",13
5,52282,120345,4,sugared raspberries,120345,10,37449,2005-05-02,"['15-minutes-or-less', 'time-to-make', 'course...","[838.0, 1.0, 820.0, 0.0, 2.0, 0.0, 71.0]",6,"['carefully pick over the berries , removing l...",here's an old method for preserving fruit with...,"['raspberries', 'granulated sugar']",2
6,124416,120345,0,sugared raspberries,120345,10,37449,2005-05-02,"['15-minutes-or-less', 'time-to-make', 'course...","[838.0, 1.0, 820.0, 0.0, 2.0, 0.0, 71.0]",6,"['carefully pick over the berries , removing l...",here's an old method for preserving fruit with...,"['raspberries', 'granulated sugar']",2
7,2000192946,120345,2,sugared raspberries,120345,10,37449,2005-05-02,"['15-minutes-or-less', 'time-to-make', 'course...","[838.0, 1.0, 820.0, 0.0, 2.0, 0.0, 71.0]",6,"['carefully pick over the berries , removing l...",here's an old method for preserving fruit with...,"['raspberries', 'granulated sugar']",2
8,76535,134728,4,kfc honey bbq strips,134728,40,166019,2005-08-24,"['60-minutes-or-less', 'time-to-make', 'main-i...","[316.0, 4.0, 40.0, 37.0, 78.0, 4.0, 10.0]",10,"['mix flour , salt and pepper in bowl', 'set a...",these are so yummy and they do taste just like...,"['chicken tenders', 'flour', 'garlic powder', ...",12
9,273745,134728,5,kfc honey bbq strips,134728,40,166019,2005-08-24,"['60-minutes-or-less', 'time-to-make', 'main-i...","[316.0, 4.0, 40.0, 37.0, 78.0, 4.0, 10.0]",10,"['mix flour , salt and pepper in bowl', 'set a...",these are so yummy and they do taste just like...,"['chicken tenders', 'flour', 'garlic powder', ...",12
10,353911,134728,5,kfc honey bbq strips,134728,40,166019,2005-08-24,"['60-minutes-or-less', 'time-to-make', 'main-i...","[316.0, 4.0, 40.0, 37.0, 78.0, 4.0, 10.0]",10,"['mix flour , salt and pepper in bowl', 'set a...",these are so yummy and they do taste just like...,"['chicken tenders', 'flour', 'garlic powder', ...",12
11,190375,134728,5,kfc honey bbq strips,134728,40,166019,2005-08-24,"['60-minutes-or-less', 'time-to-make', 'main-i...","[316.0, 4.0, 40.0, 37.0, 78.0, 4.0, 10.0]",10,"['mix flour , salt and pepper in bowl', 'set a...",these are so yummy and they do taste just like...,"['chicken tenders', 'flour', 'garlic powder', ...",12
12,468945,134728,0,kfc honey bbq strips,134728,40,166019,2005-08-24,"['60-minutes-or-less', 'time-to-make', 'main-i...","[316.0, 4.0, 40.0, 37.0, 78.0, 4.0, 10.0]",10,"['mix flour , salt and pepper in bowl', 'set a...",these are so yummy and they do taste just like...,"['chicken tenders', 'flour', 'garlic powder', ...",12
13,255338,134728,5,kfc honey bbq strips,134728,40,166019,2005-08-24,"['60-minutes-or-less', 'time-to-make', 'main-i...","[316.0, 4.0, 40.0, 37.0, 78.0, 4.0, 10.0]",10,"['mix flour , salt and pepper in bowl', 'set a...",these are so yummy and they do taste just like...,"['chicken tenders', 'flour', 'garlic powder', ...",12
14,1171894,134728,5,kfc honey bbq strips,134728,40,166019,2005-08-24,"['60-minutes-or-less', 'time-to-make', 'main-i...","[316.0, 4.0, 40.0, 37.0, 78.0, 4.0, 10.0]",10,"['mix flour , salt and pepper in bowl', 'set a...",these are so yummy and they do taste just like...,"['chicken tenders', 'flour', 'garlic powder', ...",12

In [ ]:
df_food.drop(["submitted","contributor_id","id"],axis=1,inplace=True)

## EDA

In [ ]:
df_food.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1132367 entries, 0 to 1132366
Data columns (total 12 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   user_id        1132367 non-null  int64
 1   recipe_id      1132367 non-null  int64
 2   rating         1132367 non-null  int64
 3   name           1132366 non-null  object
 4   minutes        1132367 non-null  int64
 5   tags           1132367 non-null  object
 6   nutrition      1132367 non-null  object
 7   n_steps        1132367 non-null  int64
 8   steps          1132367 non-null  object
 9   description    1108857 non-null  object
 10  ingredients    1132367 non-null  object
 11  n_ingredients  1132367 non-null  int64
dtypes: int64(6), object(6)
memory usage: 112.3+ MB

In [ ]:
df_food.describe().T

,count,mean,std,min,25%,50%,75%,max
user_id,1132367.0,1.384291e+08,5.014269e+08,1533.0,135470.0,330937.0,804550.0,2.002373e+09
recipe_id,1132367.0,1.608972e+05,1.303987e+05,38.0,54257.0,120547.0,243852.0,5.377160e+05
rating,1132367.0,4.411016e+00,1.264752e+00,0.0,4.0,5.0,5.0,5.000000e+00
minutes,1132367.0,3.614684e+04,8.796494e+06,0.0,20.0,40.0,70.0,2.147484e+09
n_steps,1132367.0,9.627970e+00,5.819689e+00,0.0,6.0,8.0,12.0,1.450000e+02
n_ingredients,1132367.0,8.952028e+00,3.689908e+00,1.0,6.0,9.0,11.0,4.300000e+01

In [ ]:
df_food.nunique()

user_id          226570
recipe_id        231637
rating                6
name             230185
minutes             888
tags             209115
nutrition        229318
n_steps              94
steps            231074
description      222668
ingredients      230475
n_ingredients        41
dtype: int64

In [ ]:
df_food.user_id.value_counts()

424680     7671
37449      5603
383346     4628
169430     4076
128473     3917
           ...
1443464       1
872340        1
431577        1
1330356       1
116593        1
Name: user_id, Length: 226570, dtype: int64

In [ ]:
df_food.recipe_id.value_counts()

2886      1613
27208     1601
89204     1579
39087     1448
67256     1322
          ...
155682       1
154055       1
252960       1
144013       1
386618       1
Name: recipe_id, Length: 231637, dtype: int64

In [ ]:
df_food.rating.value_counts()

5    816364
4    187360
0     60847
3     40855
2     14123
1     12818
Name: rating, dtype: int64

## Sampling

In [ ]:
df_food.shape

(1132367, 12)

In [ ]:
df_food.isnull().sum()

user_id              0
recipe_id            0
rating               0
name                 1
minutes              0
tags                 0
nutrition            0
n_steps              0
steps                0
description      23510
ingredients          0
n_ingredients        0
dtype: int64

In [ ]:
df_food1 = df_food.sample(frac=.02)

In [ ]:
df_food1.shape

(22647, 12)

## Recommendations using KNearestNeighbors method

In [ ]:
df_pre = pd.DataFrame(df_food1.groupby(['user_id', 'recipe_id'])['rating'].mean())
df_pre.reset_index(inplace=True)

In [ ]:
df_pre.head()

   user_id  recipe_id  rating
0     1533      28484     5.0
1     1535      26249     4.0
2     1535      28075     3.0
3     1535      29844     4.0
4     1535      37318     5.0

In [ ]:
df_pre.isnull().sum()

user_id      0
recipe_id    0
rating       0
dtype: int64

In [ ]:
df_pre.dtypes

user_id        int64
recipe_id      int64
rating       float64
dtype: object

In [ ]:
df_pre.shape

(22647, 3)

In [ ]:
df_pre.isna().sum()

user_id      0
recipe_id    0
rating       0
dtype: int64

In [ ]:
df_KNN = df_pre.pivot(index='recipe_id',columns='user_id',values='rating').fillna(0)

In [ ]:
df_KNN.head()

user_id,1533,1535,1634,1676,1891,2178,2310,2312,2586,2695,...,2002346966,2002347570,2002348301,2002354775,2002355997,2002360118,2002365431,2002365848,2002366687,2002372706
recipe_id,,,,,,,,,,,,,,,,,,,,,
49,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
62,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
187,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
191,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
198,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df_KNN.shape

(17788, 11927)

In [ ]:
from scipy.sparse import csr_matrix

In [ ]:
df_KNN_sparse = csr_matrix(df_KNN.values)

In [ ]:
from sklearn.neighbors import NearestNeighbors

In [ ]:
model_knn = NearestNeighbors(metric='cosine',algorithm='brute')

In [ ]:
model_knn.fit(df_KNN_sparse)

NearestNeighbors(algorithm='brute', metric='cosine')

In [ ]:
query_index = np.random.choice(df_KNN.shape[0])
recipe_sample = df_KNN.index[query_index]

In [ ]:
distances, indices = model_knn.kneighbors(df_KNN.iloc[query_index,:].values.reshape(1,-1),n_neighbors=10)

In [ ]:
for i in range(0,len(distances.flatten())):
    if i==0:
        print("Recommendations for recipe : {0}\n".format(recipe_sample))           
    else:
        print("{0}: {1}, with distance of {2}".format(i,df_KNN.index[indices.flatten()[i]],distances.flatten()[i]))

Recommendations for recipe : 175686

1: 175686, with distance of 0.0
2: 208914, with distance of 0.29289321881345254
3: 246, with distance of 0.3845425451033364
4: 222338, with distance of 1.0
5: 222381, with distance of 1.0
6: 222435, with distance of 1.0
7: 222357, with distance of 1.0
8: 222441, with distance of 1.0
9: 222302, with distance of 1.0

## Recommendations using Association Rules - Apriori

In [ ]:
# df_food2 = df_food.sample(frac=.03)

In [ ]:
def encode_units(x):
    if x<=0:
        return 0
    if x>=1:
        return 1

In [ ]:
df_APRI = df_KNN.T.applymap(encode_units)

In [ ]:
# df_pre1 = pd.DataFrame(df_food2.groupby(['user_id', 'recipe_id'])['rating'].mean())
# df_pre1.reset_index(inplace=True)

In [ ]:
# df_APRI = df_pre1.pivot(index='user_id',columns='recipe_id',values='rating').fillna(0)

In [ ]:
# df_APRI = df_APRI.applymap(lambda x: 1 if x > 0 else 0)

In [ ]:
df_APRI.head()

recipe_id,49,62,187,191,198,203,240,246,247,266,...,532289,532487,532736,533699,534899,535782,535958,536662,536700,536859
user_id,,,,,,,,,,,,,,,,,,,,,
1533,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1535,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1634,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1676,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1891,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_APRI.shape

(11927, 17788)

In [ ]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [ ]:
frequent_itemsets = apriori(df_APRI, min_support=0.01, use_colnames=True)

In [ ]:
frequent_itemsets.head()

Empty DataFrame
Columns: [support, itemsets]
Index: []